.about
  .about_main
  .about__side
    .about__side__title
      デグー用品のAmazonリンク集
    .about__side__main
      %h2 ペレット
      = link_to ">デグープラス", "#"
      = link_to ">デグーセレクション", "#"
      = link_to ">メディマルデグーフード", "#"
      %h2 ケージ
      = link_to ">イージーホームハイ・メッシュ", "#"
      = link_to ">イージーホーム４０ハイ", "#"
      = link_to ">イージーホーム８０ハイ", "#"
      %h2 回し車
      = link_to ">サイレントホイール２５", "#"
      = link_to ">メタルサイレント２５", "#"
      = link_to ">サイレントホイールビッグ", "#"
      = link_to ">メタルサイレント３２", "#"
      %h2 ステージ
      = link_to ">リラックスステージ", "#"
      = link_to ">木製チンチラステージ", "#"
      %h2 寝床
      = link_to ">リスハムフードベッド", "#"
      = link_to ">ステージモック", "#"