.about
  .about__main
    .about__main__title
      デグーとはどんな動物？
    .about__main__text
      = image_tag("https://de-gu.xyz/wp-content/uploads/2017/10/P9309170.jpg",width: "700px")
      %br/
      デグーは人にとても懐く魅力たっぷりの動物です。
      %br/
      デグーに詳しい人もデグーのことをあまり知らない人も、もう一度デグーのことを詳しく知ってみるのはいかがでしょうか？ 
    .about__main__title
      デグーは「アンデスの歌うネズミ」
    .about__main__text
      デグーは多彩な鳴き声を持っている動物として知られています。
      %br/
      その様子から、デグーは「アンデスの歌うネズミ」の異名で知られているほどです。
      %br/
      デグーは様々な状況に応じて鳴き声を発します。楽しい時には「ピルピル」と鳴き、怒っている時は「プゥー」と鳴き、はたまた「クゥー、クゥー」という寝言を鳴いている時もあります。
      デグーの鳴き声もまた、デグーの魅力ということができると思います。
    .about__main__title
      デグーは社会性を持ち、賢く、よく懐く
    .about__main__text
      = image_tag("https://de-gu.xyz/wp-content/uploads/2017/10/DSC_0189-e1543134544424.jpg",width: "700px")
      %br/
      デグーは社会性を持ち合わせた動物です。野生のデグーはもともと、集団生活を送る動物です。野生界のデグーは非捕食動物であり、常に外敵から身を守らなければいけません。そのために、デグーは集団で共同生活を送っているのです。
      そのため、デグーの飼育は2匹以上の多頭飼いが推奨されています。
      %br/
      もちろん単頭飼いでも飼育することはできますが、もともとデグーは複数匹で生活する動物で有ることを考慮すると、多頭飼いのほうがデグーにとっても良いのかもしれません。
      多頭飼いをすることで、冬場などはデグーが固まって体を温め合う「デグー団子」を見ることができるかもしれません。
      %br/
      ただし、デグーにとっても相性の良い個体、そうでない個体がいますので、必ずしもすべてのデグーが仲良く共同生活を送ることができるかと言われるとそうとは限りませんので注意が必要です。
      %br/
      また、デグーはとても賢い動物でもあります。デグーは芸を覚える動物としても知られており、犬のように「お手」や「お回り」といった芸を覚えさせてあげることもできます。
      %br/
      %br/
      さらに、デグーは人になつきやすい動物として知られています。個体差もありますが、一般的にデグーは人間によく懐きます。特に、単頭飼いの場合は飼い主に懐くことが多いです。
      デグーから飼い主の膝や肩に飛び乗ってくることもありますし、飼い主の手の上ですやすやと眠るデグーもいます。特に、赤ちゃんのデグーをお迎えしたての頃には飼い主にベタ慣れをしてくれる事が多いかと思います。
    .about__main__title
      デグーの寿命は6年から10年
    .about__main__text
      デグーの寿命は、一般的に、およそ6年から10年程度、と言われています。年数に大きな幅がありますが、これはまだまだデグーの飼育方法が確率されていないから、という一説があります。
      %br/
      デグーの寿命ですが、同じくらいの体の大きさを持つ他の動物に比べて、比較的長い寿命があります。具体例を挙げてみると、ハムスターの平均寿命は2〜3年程度、ハリネズミの寿命は2〜5年程度などと言われています。
      %br/
      ここで言われているデグーの寿命は、「飼育下のデグー」の寿命となります。実は、野生のデグーの寿命はもっと短く、平均して2〜3年程度などと言われています。
  
  
  .about__side
    .about__side__title
      デグー用品のAmazonリンク集
    .about__side__main
      %ul ペレット
      %li= link_to "> デグープラス", "#"
      %li= link_to "> デグーセレクション", "#"
      %li= link_to "> メディマルデグーフード", "#"
      %ul ケージ
      %li= link_to "> イージーホームハイ・メッシュ", "#"
      %li= link_to "> イージーホーム４０ハイ", "#"
      %li= link_to "> イージーホーム８０ハイ", "#"
      %ul 回し車
      %li= link_to "> サイレントホイール２５", "#"
      %li= link_to "> メタルサイレント２５", "#"
      %li= link_to "> サイレントホイールビッグ", "#"
      %li= link_to "> メタルサイレント３２", "#"
      %ul ステージ
      %li= link_to "> リラックスステージ", "#"
      %li= link_to "> 木製チンチラステージ", "#"
      %ul 寝床
      %li= link_to "> リスハムフードベッド", "#"
      %li= link_to "> ステージモック", "#"