<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <div class="post-user-name">
        <%= @user.name %>
      </div>
      <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
      </div>
    </div>
  </div>
  <h2 class="comment-menu">回答が入ります。</h2>
<% @comments.each do |comment| %>
  <div>
    <a href="/users/<%= @post.user.id %>"><%= c.user.email %></a>
    <%= c.content %>
    <hr>
  </div>
<% end %>

<%= form_tag("/posts/comment") do %>
      <div class="form">
        <div class="form-body">
          <textarea name = "content"></textarea>
          <input type="submit" value="回答する">
        </div>
      </div>
    <% end %>

