!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ExoticHome
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body
  = render 'layouts/notifications'
  .header
    .header-logo
      = link_to("デグーのきもち","/")
    %ul.header-menus
      -if session[:user_id]
        %li
          = link_to("質問一覧","/posts/index")
        %li
          = link_to("新規投稿","/posts/new")
        %li
        ログイン中
      -else        
        %li
          = link_to("デグーのきもちとは","/about")
        %li
          = link_to("新規登録", "/signup") 
        %li
          = link_to("ログイン", "/login")
  = yield 
